.header {
  background-image: url('http://assets.dtstack.com/UEDLanding/Home/home_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.body {
  height: 518px;
  font-size: 20px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #3D446E;
  line-height: 28px;
  text-align: center;

  .container {
    display: flex;
    justify-content: center;

    .box {
      width: 373px;
      height: 290px;
      background: #F1F9FE;
      border-radius: 16px;
      margin-right: 40px;
      cursor: pointer;
      transition: box-shadow .3s;

      img {
        width: 160px;
        height: 140px;
      }

      .subTitle {
        font-size: 14px;
        font-weight: 400;
        color: #64698B;
        padding: 0 40px;
      }
    }
    .box:hover {
      box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
    }
  }
}

.origin {
  background-image: url("http://assets.dtstack.com/UEDLanding/Home/openOrigin_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: PingFangSC-Semibold, PingFang SC;

  .left, .right {
    background: rgba(255, 255, 255, 0.7000);
    border-radius: 16px;
    backdrop-filter: blur(10px);
  }

  .leftBox {
    width: 580px;
    height: 381px;
    margin-right: 40px;
    text-align: center;
    transition: box-shadow .3s;

    img {
      width: 150px;
    }

    .title {
      font-size: 30px;
      font-weight: 600;
      color: #3D446E;
    }

    .subTitle {
      font-size: 14px;
      font-weight: 400;
      color: #64698B;
      margin: 18px 0 40px 0;
    }
  }

  .rightBox {
    width: 580px;
    height: 170px;
    display: flex;
    transition: box-shadow .3s;

    img {
      width: 100px;
      height: 100px;
      margin: 35px 21px 35px 40px;
    }

    .title {
      font-size: 20px;
      font-weight: 600;
      color: #3D446E;
    }

    .subTitle {
      font-size: 14px;
      font-weight: 400;
      color: #64698B;
      width: 236px;
      margin: 12px 0px;
    }
  }

  .leftBox:hover,.rightBox:hover {
    box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
  }
  .rightBox:first-child {
    margin-bottom: 40px;
  }
}

.footer {
  height: 180px;
  text-align: center;

  .describe {
    font-weight: 400;
    font-family: PingFangSC-Regular, PingFang SC;
    line-height: 20px;
    color: #8B8FA8;
    font-size: 12px;
  }
}
