.nav {
  display: flex;
  justify-content: space-around;
  padding: 14px 0;

  .leftMenu {
    display: flex;
    align-items: center;

    .subtitle {
      margin-left: 17px;
      font-size: 20px;
      font-family: MiSans-Medium, MiSans;
      font-weight: 500;
      color: #3D446E;
    }
  }

  .rightMenu {
    display: flex;
    width: 564px;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #3D446E;
    cursor: pointer;
  }
}
.fixedNav {
  background: #FFFFFF;
  position: fixed;
  top: 0;
  width: 100%;
}
.menu {
  width: 210px;
  height: 300px;
  border-radius: 15px;
  :global {
    .ant-dropdown-menu-item:first-child{
      margin-top: 10px;
    }
    .ant-dropdown-menu-item{
      line-height: 36px;
    }
    .ant-dropdown-menu-item:hover {
      background: #F1F9FE;
    }
  }
}

